<aside class="sidebar">

  <div class="sidebar-logo">
    <img src="/assets/logo.png" alt="Cervello Online">
  </div>

        <!-- Hamburger Menu Button (Mobile Only) -->
      <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="menu" id="main-menu">

    <a href="/index.html" class="menu-link">
      <span class="icon">🏠</span>
      <span class="text">Home</span>
    </a>

    <a href="../finanza/index.html`" class="menu-link">
      <span class="icon">📊</span>
      <span class="text">Finanza</span>
    </a>

    <a href="../engineering/index.html`" class="menu-link">
      <span class="icon">⚙️</span>
      <span class="text">Ingegneria</span>
    </a>

  </nav>
</aside>

